*.pyc
__pycache__/
.env
*.env
.DS_Store
.ipynb_checkpoints/
legacy/*
Old code/
archive/
Images
Processed Data old/
.vscode
.github
Classification datasets/Train and test sets/Spectral bands and indices/cluster_id_test.lzma
Classification datasets/
Classification results/
Error/
Out/
Processed Data/
Classification datasets/Train and test sets/Spectral bands and indices/cluster_id_train.lzma
